<app-header></app-header>

<main class="app-main">
  <section class="intro">
    <!-- Welcome Section -->
    <div class="welcome-section">
      <h2 class="welcome-title">Online Wedding Planning Assistant</h2>
      <p class="welcome-description">
        Your one-stop wedding planning website, with all the tools you need to create the dream celebration. No hidden fees! No sign-up required!
      </p>
      <button class="cta-button">Create new wedding project</button>
    </div>

    <!-- Illustration Section -->
    <div class="illustration-section">
      <img src="app/assets/images/proj5.png" alt="Illustration" class="illustration-image" />
    </div>
  </section>
</main>

<app-footer></app-footer>
