<app-header></app-header>

<main class="app-main">
  <section class="intro">
    <!-- Welcome Section -->
    <div class="welcome-section">
      <h2 class="welcome-title">Join Our Listings of Talented Vendors</h2>
      <p class="welcome-description">
        Take your wedding business to the next level by being a part of our talented vendor community.       </p>
      <button class="cta-button">Add your Business to Listing</button>
    </div>
  </section>

  <section class="illustration">
    <!-- Replace with a placeholder or illustration -->
    <div class="placeholder-illustration"></div>
  </section>

</main>

<app-footer></app-footer>
