<app-header></app-header>

<div class="projects-container">
  <h2>Projects</h2>
  <div *ngIf="loading">Loading events...</div>

  <div *ngIf="!loading && events.length === 0">No events found.</div>

  <div class="projects">
    <a *ngFor="let event of events" class="project" href="project/{{ event.id }}">
      <div class="folder">
        <p>{{ event.name }}</p>
        <p><strong>Date:</strong> {{ event.date | date }}</p>
      </div>
    </a>

    <div class="create-project">
      <div class="add-folder">+</div>
      <p>Create new project</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
