<div class="container mt-5">
  <h2>Orders List</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Booking Id</th>
      <th>Service Provider Id</th>
      <th>Service Id</th>
      <th>Total Amount</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td>{{ order.bookingId }}</td>
      <td>{{ order.serviceProviderId }}</td>
      <td>{{ order.serviceId }}</td>
      <td>{{ order.totalAmount }}</td>
      <td>
        <div class="button-container">
          <select class="form-control role-dropdown">
            <option value="Pending">Pending</option>
            <option value="Delivered">Delivered</option>
          </select>
          <button class="btn btn-danger ml-2" (click)="deleteOrder(order.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button class="btn btn-secondary" (click)="loadPreviousPage()" [disabled]="page === 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button class="btn btn-secondary" (click)="loadNextPage()" [disabled]="page === totalPages - 1">Next</button>
  </div>

  <button class="btn btn-primary mt-3" (click)="loadOrders()">Load More</button>
</div>

