.layout-container {
    display: flex;
    height: 100vh; /* Make the layout span the full height of the viewport */
  }
  
  app-sidebar {
    width: 250px; /* Set the sidebar width */
    background-color: #f8f9fa; /* Optional: Set a background color for the sidebar */
  }
  
  .content-container {
    flex: 1;
    padding: 16px; /* Optional: Add padding to the main content area */
    overflow-y: auto; /* Allow scrolling if the content exceeds the viewport height */
  }
  