<div class="header-container">
  <div class="logo">
    <a href="/home" class="logo-text nav-link">ERSII</a>
  </div>

  <div class="nav-links">
    <a href="/services-page" class="nav-link">Find services</a>
    <a href="/my-events" class="nav-link">My Events</a>
    <a href="/business" class="nav-link">I'm a Business</a>
  </div>

  <div class="user-profile">
    <div class="avatar">
      <img
        ngSrc="app/assets/avatar.jpeg"
        class="rounded-circle"
        style="width: 45px; height: 45px;"
        height="236" width="213" alt="Avatar"/>
    </div>

    <div class="user-info">
      <span class="username">Anonymous</span>

      <div class="auth-links">
        <a href="/login" class="auth-link">Login</a> |
        <a href="/register" class="auth-link">Register</a>
      </div>
    </div>
  </div>

</div>
