<div class="order-history">
  <h1 class="title">Users</h1>
  <ul class="order-list">
    <li *ngFor="let order of orders" class="card">
      <div class="card-header">
        <div class="header-content">
          <h2 class="card-title">User #{{ order.id }}</h2>
        </div>
      </div>
      <div class="card-content">
        <div class="content-row">
          <span class="label">FirstName:</span>
          <span>{{ order.firstName }}</span>
        </div>
        <div class="content-row">
        <span class="label">LastName:</span>
        <span>{{ order.LastName }}</span>
      </div>
        <div class="content-row">
          <span class="label">Date</span>
          <span>{{ order.Date }}</span>
        </div>
        <div class="content-row">
          <span class="label">Email</span>
          <span>{{ order.Email }}</span>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="link">View Details</a>
      </div>
    </li>
  </ul>
</div>
