<!-- sidebar.component.html -->
<aside class="sidebar">
  <div class="sidebar-header">
    <h2>WeedingApp</h2>
  </div>
  <ul class="sidebar-links">
    <h4>
      <span>Main Menu</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="material-symbols-outlined"> dashboard </span>
      </a>
    </li>
    <li>
      <a routerLink="/overview" routerLinkActive="active">
        <span class="material-symbols-outlined"> overview </span>
      </a>
    </li>
    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="/historique" routerLinkActive="active">
        <span class="material-symbols-outlined"> Historique </span>
      </a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active">
        <span class="material-symbols-outlined"> Products </span>
      </a>
    </li>
  </ul>
</aside>
